main {
    height: 100%;
    display: flex;
}
.steam-widget-wrap {
    width: calc( 100% - 360px);
}
.twitter-widget-wrap {
    width: 360px;
    overflow-y: auto;
}
@media (max-width: 768px) {
    main {
        height: auto;
        display: block;
    }
    .steam-widget-wrap, .twitter-widget-wrap {
        width: 100%;
    }
}