main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weapon {
    width: -webkit-fill-available;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.weapon select {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.weapon img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.weapon td{
    color: #666;
}
.left {
    text-align: left;
}